body{
    margin: 0;
    background-color: bisque;
}

.box{
    outline: 1px dashed black;
    width: 200px;
    padding: 30px;
}

.box p{
    background-color: aquamarine;
    text-align: center;
}

.one{
    position: relative;
    left: 10px;
    top: 20px;

}
.one span{
    position: relative;
    left: 2px;
    top: -3px;
}

.two{
    position: absolute;
    left: 500px;
    top: 300px;
}

.three{
    position: fixed;
    left: 300px;
    top: 0px;
}

.six{
    height: 2000px
}

.five{
    position: sticky;
    top:0px;
    left: 100px;
}
.seven{
    margin: auto;
    width: 100%;
    max-width: 300px;
    height: 50vh;
    position: relative;
}

.sevensChild{
    outline: green 1px dotted;
    width: 50px;
    position: absolute;
    left: 0px;
    top: 0px;

}

.sevensChild p{
    background-color: black;
    color: greenyellow;
    margin: 0;
}