body{
    margin: 0;
    background-color: khaki;
}
.mainWrapper{
    background-color: black;
    height: 400px;
    width: 100%;
    max-width: 800px;
    margin: auto;
}
#headerWrapper{
    background-color: lightblue;
}
#headerWrapper h1{
    text-align: center;
}

.navButton{
    background-color: darksalmon;
    width: 100px;
    height: 23px;
    text-align: center;
    outline: 1px white solid;
    display: inline-block;
}

#navWrapper{
    outline: 2px dotted red;
    /* width: 415px; */
    /* margin: auto; */
    text-align: center;
}