/* div{
    outline: 1px solid red;
    width:10px;
    white-space: nowrap;
    overflow: hidden;
    animation: increaseWidth 15s forwards steps(80, end);
} */
 p{
    /* outline: 1px solid red; */
    /* width:96px; */
    white-space: nowrap;
    overflow: hidden;
    animation: increaseWidth 2s forwards steps(10, end);
    /* text-align: center; */
    margin:auto;
 }

@keyframes increaseWidth {
    from{
        width:0px;
    }
    to{
        width:96px;
    }
}